---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign title_shown = false %}
    {% assign items = site.publications | where: "category", category[0] | sort: "date" | reverse %}
    {% for post in items %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include pub-row.html post=post %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% assign items = site.publications | sort: "date" | reverse %}
  {% for post in items %}
    {% include pub-row.html post=post %}
  {% endfor %}
{% endif %}
